resources/
build/
lib/
.vs/
_deps/
bin/logs/
assets/
students/

*Config.h

*.meta

*.bmp
*.png
*.jpg
*.gif
*.dds

*.mp4
*.pdf

*.html

*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.exe
*.ilk
*.pdb

assets/materials/
assets/models/
assets/textures/

imgui*.ini

homeworks/hw1/
homeworks/hw2/
homeworks/hw3/
homeworks/hw4/
homeworks/hw5/
homeworks/hw6/
homeworks/hw7/
homeworks/hw8/
homeworks/hw9/
homeworks/hw10/